<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span><i id="" class="fa fa-plus"></i></span> MY CURRENT POSITION
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        I currently work as a full stack engineer for a software consulting company. Over the past three years, I've worked with two clients. On the first client, I worked on a small scrum team documenting and correcting defects and maintaining the back end of multiple legacy systems. On my current client, I work on a larger scrum team developing new features with cutting-edge technology for the front end of a large SaaS application.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span><i id="" class="fa fa-plus"></i></span> ABOUT ME
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

      <div class="panel-body">
        I enjoy studying foreign languages and travelling. I lived for six years in Japan where I taught English and got good at Japanese - to the point I was able to work as a translator for various businesses and a local government contractor. I still like foreign languages, but about four years ago, they took a back seat to my new interest: web development.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span><i id="" class="fa fa-plus"></i></span> EDUCATION
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        I graduated with a BA from CU Boulder. In 2015, I finished a Java boot camp in Ohio and got a web developer job a week later. Since then, I've attended multiple boot camps just for fun, including an "AngularJS" course, a "Web Design" course, and "Full Stack Web Development with Ruby on Rails" Course. I also push myself to study for certifications, not because I want that piece of paper, but because studying for certifications is a good window into what's important to know about other parts of the tech field.
      </div>
    </div>
  </div>
</div>
