<div id='certification-section'>
  <div class='container anchor'>
    <div class='header'>
      <h1>Certifications</h1>
      <br />
    </div>
    <div class='row'>
      <div class='col-xs-12 col-md-4'><a href='https://education.oracle.com/pls/web_prod-plq-dad/db_pages.getpage?page_id=5001&get_params=p_exam_id:1Z0-808'><img class='img-responsive cert-badge' src='img/certifications/Java_8_Cert.gif' id='java-cert-badge' alt='Java Badge'></a></div>
      <div class='col-xs-12 col-md-4'><a href='https://aws.amazon.com/certification/certified-developer-associate/'><img class='img-responsive cert-badge' src='img/certifications/AWS_Cert.png' id='aws-cert-badge' alt='AWS Badge'></a></div>
      <div class='col-xs-12 col-md-4'><a href='https://www.microsoft.com/en-us/learning/exam-70-480.aspx'><img class='img-responsive cert-badge' src='img/certifications/MS_70-480_Cert.png' id='ms-cert-badge' alt='Microsoft Badge'></a></div>
    </div>
  </div>
</div>
