<footer>
  <div class='container'>
    <div class='row footer-row'>
      <div class='social-media-links'>
        <div class='links'>
          <a href='https://github.com/Bill-Horst'><i class='fa fa-github fa-3x' data-toggle='tooltip' data-placement='top' title='Github'></i></a>
          <a href='https://www.linkedin.com/in/horstbill'><i class='fa fa-linkedin-square fa-3x' data-toggle='tooltip' data-placement='top' title='LinkedIn'></i></a>
          <a class='resume-button' data-toggle='modal' data-target='.bs-example-modal-sm'><i class='fa fa-list-alt fa-3x' data-toggle='tooltip' data-placement='top' title='Resume'></i></a>
        </div>
      </div>
      <div class='copyright-info'>
        <span>&copy; Bill Horst <span id='current-year'></span></span>
      </div>
    </div>
  </div>
</footer>
